{% extends 'main/base.html' %} {% load static %} {% block title %} Prime Edge
Solutions | Dashboard {% endblock title %} {% block content %}
<h1>Leave Application</h1>
<form method="post">
  {% csrf_token %}
  <label for="start_date">Start Date:</label>
  <input type="date" id="start_date" name="start_date" required />
  <br />
  <label for="end_date">End Date:</label>
  <input type="date" id="end_date" name="end_date" required />
  <br />
  <label for="reason">Reason:</label>
  <textarea id="reason" name="reason" required></textarea>
  <br />
  <button type="submit">Apply</button>
</form>
<a href="{% url 'home' %}">Back to Home</a>
{% endblock content %}
