<button type="button" class="modal-button">Launch demo modal</button>

<div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Modal title</h1>
      <button type="button" class="close-button">Close</button>
    </div>
    <div class="modal-body">
      ...
    </div>
    <div class="modal-footer">
      <button type="button" class="close-button">Close</button>
      <button type="button" class="save-button">Save changes</button>
    </div>
  </div>
</div>