section {
  height: auto;
}

/* General Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: ffffff;
  margin: 0;
  padding: 0;
}

section {
  background-color: #ffffff;
  /* padding: 20px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* margin-top: 100px; */
}

/* Headings */
h2 {
  color: #333333;
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 10px;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #eeeeee;
}

table th {
  background-color: #f8f8f8;
  color: #333333;
  font-weight: 600;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}

/* Buttons */
.btn {
  padding: 8px 15px;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-success {
  background-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
}

/* Responsive Design */
@media (max-width: 768px) {
  table th,
  table td {
    padding: 10px;
    font-size: 14px;
  }

  .btn {
    padding: 6px 10px;
    font-size: 12px;
  }
}
